<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188664002086-loa33s3q3ohoq53nqk9kjiasqfmevpqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188664002086-loa33s3q3ohoq53nqk9kjiasqfmevpqo</string>
	<key>API_KEY</key>
	<string>AIzaSyAHOK0Ga7f6fM5v_JP7q2C521C0N9TUYc0</string>
	<key>GCM_SENDER_ID</key>
	<string>188664002086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JS.Unblush</string>
	<key>PROJECT_ID</key>
	<string>awk-dating</string>
	<key>STORAGE_BUCKET</key>
	<string>awk-dating.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188664002086:ios:ba4cba491bc33125</string>
	<key>DATABASE_URL</key>
	<string>https://awk-dating.firebaseio.com</string>
</dict>
</plist>